<!doctype html>
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/hello.css">
<title>Barent's Portfolio</title>
<body>
<div>
  <div>
    <nav class='navbar navbar-default'>
      <div>
        <div class='navbar-header navbar-brand'>
          Nicholas Barent Considine
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#section1">About</a>
            <li>
              <a href="#section2">Projects</a>
            </li>
            <li>
              <a href="#section3">Contact</a>
            </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="section0" class="jumbotron text-center">
    <h1>Nicholas Barent Considine</h1>
    <div class='btn-group btn-group-justified' >
      
        <a href='https://twitter.com/pancakemachine2' target='_blank'>
          <button class='btn btn-primary' target='_blank'>Twitter</button>
        </a>
      
      
        <a href='https://www.linkedin.com/pub/nicholas-considine/32/995/400' target='_blank'>
          <button class='btn btn-primary'>LinkedIn</button>
        </a>
      
      
        <a href='http://github.com/Barent' target='_blank'>
          <button class='btn btn-primary'>GitHub</button>
        </a>
      
      
        <a href='https://codepen.io/Barent/' target='_blank'>
          <button class='btn btn-primary' target='_blank'>Code Pen</button>
        </a>
      
    </div>
  </div>

  <div class='jumbotron'>
    <div class="row">
      <div id='section1' class="col-md-4">
        <a href='http://codepen.io/Barent/full/xwypqm/' target='_blank'><h2>						Random Quote Gen</h2></a>

        <p>
          This is a simple single page applicaiton that displays a random quote.
        </p>
      </div>
      <div id='section2' class="col-md-4">
        <a href='http://codepen.io/Barent/full/PPyEVp/' target='_blank'><h2>						Pomodoro Clock	</h2></a>
        <p>
          This single page applicaiton will count down from the given user input and then display an alert upon completion.
        </p>
      </div>
      <div id='section3' class="col-md-4">
        <a href='http://codepen.io/Barent/full/vNbOQK/' target='_blank'><h2>Simple Calculator</h2></a>
        <p>
          This is a simple calculator built using JavaScript.
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p data-height="550" data-theme-id="0" data-slug-hash="wMgPJO" data-default-tab="result" data-user="Barent" class="codepen">See the Pen <a href="https://codepen.io/Barent/pen/wMgPJO/">Wikipedia Viewer</a> by Nicholas Considine (<a href="http://codepen.io/Barent">@Barent</a>) on <a href="http://codepen.io">CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col-md-4">
       <p data-height="550" data-theme-id="0" data-slug-hash="xZYyBg" data-default-tab="result" data-user="Barent" class='codepen'>See the Pen <a href='http://codepen.io/Barent/pen/xZYyBg/'>Pomodoro</a> by Nicholas Considine (<a href='http://codepen.io/Barent'>@Barent</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col-md-4">
        <p data-height="550" data-theme-id="0" data-slug-hash="vNbOQK" data-default-tab="result" data-user="Barent" class='codepen'>See the Pen <a href='http://codepen.io/Barent/pen/vNbOQK/'>Calculator</a> by Nicholas Considine (<a href='http://codepen.io/Barent'>@Barent</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
    </div>
  </div>

  <div class='jumbotron'>
    <h2 class='text-center'>Contact me</h2>
    <div class='row'>
      
        <a href='https://twitter.com/pancakemachine2' target='_blank'>
          <button class='btn btn-primary btn-lg btn-block' target='_blank'>Twitter</button>
        </a>
      
      
        <a href='https://www.linkedin.com/pub/nicholas-considine/32/995/400' target='_blank'>
          <button class='btn btn-primary btn-lg btn-block'>LinkedIn</button>
        </a>
      
      
        <a href='http://github.com/Barent' target='_blank'>
          <button class='btn btn-primary btn-lg btn-block'>GitHub</button>
        </a>
      
      
        <a href='http://freecodecamp.com/nbc5004' target='_blank'>
          <button class='btn btn-primary btn-lg btn-block' target='_blank'>Free Code Camp</button>
        </a>
      
    </div>
  </div>

 <div class='container'>
</body>

