<!doctype html>
<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/hello.css">
<title>Nick's Portfolio</title>
<body>
<div>
  <div>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div>
        <div class='navbar-header navbar-brand'>
          Nicholas Barent Considine
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
            <li>
              <a href="#About">About</a>
            </li>
            <li>
              <a href="#Projects">Projects</a>
            </li>
            <li>
              <a href="#Contact">Contact</a>
            </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class='container'>
  <div class="jumbotron text-center">
    <h1 >Nicholas Barent Considine</h1>
    <div class='btn-group btn-group-justified' >



        <a href='https://www.linkedin.com/pub/nicholas-considine/32/995/400' target='_blank'>
          <button class='btn btn-primary'>LinkedIn</button>
        </a>


        <a href='http://github.com/Barent' target='_blank'>
          <button class='btn btn-primary'>GitHub</button>
        </a>


        <a href='https://codepen.io/Barent/' target='_blank'>
          <button class='btn btn-primary' target='_blank'>Code Pen</button>
        </a>
      <br>
      <br>
        <a href="https://www.codementor.io/nbc5004?utm_source=github&utm_medium=button&utm_term=nbc5004&utm_campaign=github"><img src="https://cdn.codementor.io/badges/i_am_a_codementor_dark.svg" alt="I am a codementor" style="max-width:100%"/></a>

    </div>
  </div>

  <div id='About' class="jumbotron">
  	<h2 class="text-center">About</h2>
  	<p>
  	I am a software developer based out of Austin Texas specializing in full stack JavaScript.
  	Currently I work on a large code base of C# and JavaScript for a deployment of Dynamics CRM.
  	Most of my projects have been built using meteor but I also enjoy working with node and flask.
  	This site is served up using flask and I hope to add a blog seciton that utilizes react in the future.
  	</p>
  	<p>
  		When I am not programming I like to spend time with my fiance and dog.
  		We go on hikes when we can and enjoy spending time in the water when the weather permits.
  		I have moved around a lot. I grew up in Pennsylvania and when I was in my early twenties
  		I moved to Colorado. I spent a lot of time out west and lived in both Colorado and Wyoming.
  		I now live in Austin Texas and have been loving eternal summer.

  	</p>
  </div>

  <div id="Projects" class='jumbotron'>
  <h2 class="text-center">Projects</h2>
  <br>
  <h3>Open Source Projects</h3>
  <p>These projects were built using full stack JavaScript.</p>
    <div class="row">
    <div class="col-md-4">
        <a href='https://github.com/Barent/research-helper' target='_blank'><h2>Research-Helper</h2></a>
        <p>
          This is an applicaiton to help with research collection. The idea was spawned after I helped
          my fiance with collecting inventory at her job. The applicaiton I built for her was called
          research-inventory and was hosted on Meteor's free hosting service. This version is more general
          and intended to be used by any field researcher.
        </p>

      </div>
      <div  class="col-md-4">
        <a href='http://github.com/Barent/cedar-crm' target='_blank'><h2>Cedar-CRM</h2></a>

        <p>
          This is a small CRM applicaiton build using Meteor kitchen. It has three main sections
          and contains excell export. The application still needs joins and I have created a
          demo version with joins and it is currently in the github repo for this project.
        </p>
      </div>

      <div class="col-md-4">
        <a href='http://github.com/Barent/simple-schedule' target='_blank'><h2>Simple-Scheduler</h2></a>
        <p>
          This is an application to help my future father in laws small business schedule field techs.
          It has a user account system with varrying roles and is invite only. The calendar piece was built
          with the jQuery full calendar. This is stil in progress
        </p>
      </div>

    </div>
    <h2>Code Pens</h2>
    <p>Some single page apps I built while working through FreeCodeCamp.</p>
    <div class="row">
      <div class="col-md-4">
        <p data-height="550" data-theme-id="0" data-slug-hash="xwypqm" data-default-tab="result" data-user="Barent" class='codepen'>See the Pen <a href='http://codepen.io/Barent/pen/xwypqm/'>QuoteMachine</a> by Nicholas Considine (<a href='http://codepen.io/Barent'>@Barent</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col-md-4">
       <p data-height="550" data-theme-id="0" data-slug-hash="xZYyBg" data-default-tab="result" data-user="Barent" class='codepen'>See the Pen <a href='http://codepen.io/Barent/pen/xZYyBg/'>Pomodoro</a> by Nicholas Considine (<a href='http://codepen.io/Barent'>@Barent</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
	<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
      <div class="col-md-4">
        <p data-height="550" data-theme-id="0" data-slug-hash="vNbOQK" data-default-tab="result" data-user="Barent" class='codepen'>See the Pen <a href='http://codepen.io/Barent/pen/vNbOQK/'>Calculator</a> by Nicholas Considine (<a href='http://codepen.io/Barent'>@Barent</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
      </div>
    </div>
  </div>

	<div id="Contact" class='jumbotron'>
	    <h2 class='text-center'>Contact me</h2>
	    <div class='row'>

	       	<a href='https://www.linkedin.com/pub/nicholas-considine/32/995/400' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block'>LinkedIn</button>
	        </a>
	        <a href='http://github.com/Barent' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block'>GitHub</button>
	        </a>

	        <a href='https://twitter.com/pancakemachine2' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block' target='_blank'>Twitter</button>
	        </a>
      		<a href='https://www.freecodecamp.com/barent' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block' target='_blank'>FreeCodeCamp</button>
	        </a>
	        <a href='https://medium.com/@Barent' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block' target='_blank'>Blog</button>
	        </a>
	        <a href='https://google.com/+NicholasConsidine' target='_blank'>
	          <button class='btn btn-primary btn-lg btn-block'>Google+</button>
	        </a>
		</div>
	</div>

 </div>
</body>

